/* ======================================= CUSTOM BUTTONS ====================================== */
.btn-custom1 {
    color: #fff;
    background-color: #599936;
    border-color: #599936;
  }
  .btn-custom1:hover {
    color: #fff;
    background-color: #3bbb61;
    border-color: #5EB52E;
  }
  .btn-custom1.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #599936;
    border-color: #599936;
  }
  .btn-custom1:not(:disabled):not(.disabled):active, .btn-custom1:not(:disabled):not(.disabled).active, .show > .btn-custom1.dropdown-toggle {
    color: #fff;
    background-color: #5EB52E;
    border-color: #10a52e;
  }
  
  .btn-custom1-light {
    color: #fff;
    background-color: #85DD54;
    border-color: #85DD54;
  }
  .btn-custom1-light:hover {
    color: #fff;
    background-color: #5dd257;
    border-color: #599936;
  }
  .btn-custom1-light.disabled, .btn-custom1-light:disabled {
    color: #fff;
    background-color: #85DD54;
    border-color: #85DD54;
  }
  .btn-custom1-light:not(:disabled):not(.disabled):active, .btn--light:not(:disabled):not(.disabled).active, .show > .btn-custom1-light.dropdown-toggle {
    color: #fff;
    background-color: #599936;
    border-color: #529A2A;
  }
  
  .btn-outline-custom1 {
    color: #599936;
    border-color: #599936;
  }
  .btn-outline-custom1:hover {
    color: #fff;
    background-color: #599936;
    border-color: #599936;
  }
  .btn-outline-custom1.disabled, .btn-outline-custom1:disabled {
    color: #599936;
    background-color: transparent;
  }
  .btn-outline-custom1:not(:disabled):not(.disabled):active, .btn-outline-custom1:not(:disabled):not(.disabled).active, .show > .btn-outline-custom1.dropdown-toggle {
    color: #fff;
    background-color: #599936;
    border-color: #599936;
  }
  
  
/* ======================================= CUSTOM MISC ====================================== */

.rate > input {
  display: none;
}

.rate {
  display: inline-block;
  border: 0;
}

.rate > label {
  float: right;
}

.rate > label:before {
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome;
  content: "\f005";
  margin: 0;
  padding: 0.3rem 0.2rem;
  cursor: pointer;
}

.rate .half:before {
  content: "\f089";
  position: absolute;
  padding-right: 0; 
}

input:checked ~ label, label:hover ~ label {
  color: #ffb503;
}

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
  color: #cc9000;
}

.rating-star i {
  color: #ffb503 !important;
}


ul.thumb {
  margin: 0 auto;
  padding: 0;
  float: left;
}

ul.thumb li {
  list-style: none;
  margin: 10px;
}

ul.thumb li img {
  width: 80px;
  height: 100%;
  border: 1px solid grey;
}


.card-product-grid {
  padding-top: 20px !important;
}

[class*=card-product] a.title {
  min-height: 36px;
}