{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-3">
				<small class="text-muted"> &copy{% now "Y" %} DevPatrol, Inc.  All rights reserved. </small>
			</div>
			<div class="col-md-6 text-md-center">
				<small class="text-muted px-2">info@devpatrol.io</small>
				<small class="text-muted px-2">321 Fleet Avenue; Ste. 400; Austin, TX 78104</small>
				<small class="text-muted px-2">+1-555-332-9375</small>
			</div>			
			<div class="col-md-3 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$('.thumb a').click(function(e){
		e.preventDefault();
		$('.main-img img').attr('src', $(this).attr("href"));
		})
	});
</script>